body{
    background:whitesmoke;
    margin: 0;
}

header{
    background: white;
    padding: 10px;
}

div.container{
    padding: 10px;
}

div.image{
    background: white;
    margin-top: 10px;
}

div.image img{
    width: 100%;
}

div.image h2, div.image h3, div.image p{
    padding: 10px;
}

div.container{
    /* border: 12px solid #c9c9c9; */
    padding: 10px;
    width: 600px;
    margin: auto;
}

article {
    border-radius: 15px;
    display: block;
    border: 5px solid whitesmoke;
    background-color: snow;
    padding: 15px;
 } 

.hide {
    display: none;
}

img {
    max-width: 85%;
    max-height: 85%;
}